<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">



    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--    <uses-permission android:name="android.permission.CALL_PHONE" />-->
    <!--    <uses-permission android:name="android.permission.VIBRATE" />-->
    <!--    <uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="RestUniv"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".view.Menu"
            android:exported="true" />
        <activity
            android:name=".view.Apropos"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.PhotoQrCode"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.Login"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.Dashboard"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="com.example.testjsoncall.SecondActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>